/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap'); */

/* #region main rules */
:root {
  --font-size-heading: 3rem;
  --font-size-bigger: 2.3rem;
  --font-size-big: 1.35rem;
  --font-size-main: 1rem;
  --font-size-small: 0.9rem;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-regular);
  font-style: normal;  
  width: 100%;
}

section {
  padding: 8rem 3.55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  padding: 1em  1.75em;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 4.35em;
  border: 0px;
  background: #7AE5FD;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-small);
  line-height: 0.96em;  
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: var(--font-size-heading);
  letter-spacing: -0.06em;
  text-transform: uppercase;  
}

h3 {
  text-align: center;
  font-size: var(--font-size-big);
}
/* #endregion */

/* #region body */

/* #region header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem 3.55rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  position: fixed;
  z-index: 4;
}

.logo {
  size: 3.25rem;
}

.menu-list {  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

.menu-item {
  margin-left: 2.8rem;
}

/* #endregion */

/* #region hero-1 with photo */
.hero-1 {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/fund_main_photo.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}
.hero-1-container {
  width: 50vh;
  padding-left: 5.25em;
}

.hero-1 p {
  padding: 1em 0;
}

.title {
  color: #FFF;
  font-size: 65px;

  font-weight: var(--font-weight-extrabold);
  line-height: 94.9%; 
  letter-spacing: -1.3px;
  text-transform: uppercase;
}

.white-button {
  background: #FFF;
}

/* #endregion */

/* #region hero-2 with text */
.colored-text {
  color: #73A6B1;  
}
/* #endregion */

/* #region hero-3 with we-help cards */
#we-help-with{
  padding: 0rem 3.55rem 8rem;
  display: flex;
  align-items: center;
}
.main-component {
  display: flex;
  flex-direction: row;
  background-color: #F1FDFF;
  margin-bottom: 2.5em;
  padding: 2em 3.1em;
}

.main-component-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-right: 3em;
}

.main-component-title {
  font-size: var(--font-size-bigger);
  letter-spacing: -0.92px;
  text-transform: uppercase;
  text-align: left;
}

.main-component-subtitle {
  align-self: stretch;
  font-weight: var(--font-weight-semibold);
  padding: 0.5em 0em;
}

.main-component-photo {
  height: 22.8rem;
  width: 29.2rem;
}

/* #endregion */

/* #region hero-4 out mission  MANY_MANY QUESTIONS*/
.our-mission {
  display: flex;
  flex-direction: row;
  position: relative;
}

.our-mission-box {
  width: 100%;  
  background: #F1FDFF;
  position: relative;
  bottom: 0;
  z-index: 1;    
}
.our-mission-box h5{  
  padding: 4.5rem 3.1rem;
  font-size: var(--font-size-big);
  width: 50%;
}
.our-mission-box-photo{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  margin-top: -8rem;
  margin-right: 9rem;
}
   
.our-mission-box-background-waves {
  position: absolute;
    right: 3.1rem;
    top: 0;
    z-index: 2;
}

/* #endregion */

/* #region hero-5 support fund  */
#support-fund{
  padding-top: 0;
}
.charities-counter>p { 
  color: #73A6B1;
  text-align: center;
}
.charities-counter {
  padding: 2.5rem;
}

/* #endregion */

/* #region footer */
footer {
  background: #F9FADF;
  width: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.footer-block {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 3.55rem 0rem;
  gap: 4.65rem;
}

.contacts-info {
  padding: 0 2rem;
}
.contacts-info-item{
  padding-bottom: 3rem;
  align-items: flex-start;
}
.contacts-info-item>a {
  font-weight: var(--font-weight-semibold);  
}


.form {
  background-color: #fff;  
}
.input-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.95rem 2rem 1.55rem 4.65rem;  
}
.input-form h3{
  text-align: start;
  padding-bottom: 2rem;
}
article {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}
input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3rem;
  border: none;
  background-color: #F9FADF;
  padding: 1rem 20rem 1rem 2rem;
}


/* #endregion */